:root {
    --font-sm: 12px;
    --font-base: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 24px;

    --color-primary: #083248;  
    --color-secondary: #0b425f; 
    --color-green: #22c55e; 
    --color-white: #ffffff;
    --color-dark: #000000;
    --color-yellow: #f59e0b;
    --color-gray-light: #f8f9fa;

    /* Border radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-pill: 32px;

    /* Shadows */
    --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.12);
}